html, body{
  height: 100%;
}

.bloco{
  min-height: 100%;
  padding-top: 30px;
}

#particles-js{
  height: 100vh;
  background-image: url(../img/connectwork.png);
}

/* TÍTULO E PARÁGRAFO */
.titulo{
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 300;
}

.titulo::after{
  content: '';
  display: block; 
  width: 200px;
  border-top: 1px solid #ff0000;
  margin: 15px auto;
}

.paragrafo{
  line-height: 1.8rem;
}

/* APRESENTAÇÃO */
.apresentacao{
  color: #fff;
  position: absolute;
  text-align: center;
  right: 0;  
  left: 0;
  top: 20%;
}

.apresentacao h3{
  color: #00ffff;
}

.apresentacao h6{
  line-height: 2;
}

.apresentacao a{
  top: 20px;
}

/* EFEITO DIGITAÇÃO */
.digitado::after {
    content: '|';
    opacity: 1;
    margin-left: 5px;
    display: inline-block;
    animation: blink .7s infinite;
  }

  @keyframes blink {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }

/* BOTÃO HOME */
.btn{
  color:  #00ffff;
  background-color:rgba(226,216,216, .2);
}

.btn:hover, .btn-large:hover, .btn-small:hover {
  background-color: grey;
}  

.btn:focus, .btn-large:focus, .btn-small:focus,
.btn-floating:focus {
  background-color: rgba(226,216,216, .2);
}  

/* SOBRE MIM */
.sobremim{
  background: #CEECF5;
}

.sobremim h3{
  color: #1C1C1C;
  margin: 0;
}

.sobremim .foto img{
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

/* MEUS PROJETOS */
.meusprojetos{
  background: grey;
} 

/* CUSTOMIZADO */
.row{
  margin-bottom: 0;
}

/* MEDIA */
