html, body{
  height: 100%;
}

a{
  color: #fff;
}

.bloco{
  min-height: 100%;
  padding-top: 30px;
}

#particles-js{
  height: 100vh;
  background-image: url(../img/connectwork.png);
}

/* TÍTULO E PARÁGRAFO */
.titulo{
  color: #fff;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 300;
}

.titulo::after{
  content: '';
  display: block; 
  width: 200px;
  border-top: 1px solid #00ffff;
  margin: 15px auto;
}

.paragrafo{
  font-size: 1.3rem;
  line-height: 1.88rem;
}

/* APRESENTAÇÃO */
.apresentacao{
  color: #fff;
  position: absolute;
  text-align: center;
  right: 0;  
  left: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) 
}

.apresentacao h3{
  color: #00ffff;
  margin: 0;
}

.apresentacao h6{
  line-height: 2;
}

.apresentacao a{
  top: 20px;
}

/* EFEITO DIGITAÇÃO */
.digitado::after {
    content: '|';
    opacity: 1;
    margin-left: 5px;
    display: inline-block;
    animation: blink .7s infinite;
  }

  @keyframes blink {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }

/* BOTÕES NA HOME */
.home .btn{
  color:  #00ffff;
  background-color:rgba(226,216,216, .2);
  margin-bottom: 20px;
}

.home .btn:hover, .btn-large:hover, .btn-small:hover {
  background-color: #1c1c1c;
}  

.home .btn:focus,.home .btn-large:focus,.home .btn-small:focus,
.home .btn-floating:focus {
  background-color: rgba(226,216,216, .2);
} 


/* SEÇÃO ---> SOBRE MIM */

.sobremim{
  background-image: url('../img/bg-010.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.sobremim h3{
  color: #fff;
  margin: 0;
}

.sobremim .foto img{
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

/* BOTÃO NO SOBRE MIM */
.sobremim .btn{
  color:  #00ffff;
  background-color:rgba(226,216,216, .2);
  margin-bottom: 20px;
}

.sobremim .btn:hover, .btn-large:hover, .btn-small:hover {
  background-color: #1c1c1c;
}  

.sobremim .btn:focus,.sobremim .btn-large:focus,.sobremim .btn-small:focus,
.sobremim .btn-floating:focus {
  background-color: rgba(226,216,216, .2);
} 


/* SEÇÃO --->  MINHAS HABILIDADES */
.minhashabilidades{
  background-image: url('../img/bg-servicos.jpg');
  background-repeat: no-repeat;
  background-size: cover;
} 

.minhashabilidades .card {
  box-shadow: 1px 1px 10px #00ffff;
  transition: 0.5s;
  background: rgb(240, 240, 240);
  color: #1c1c1c;
}

.minhashabilidades .card h5 {
  padding: 10px 0px;
  color: #1c1c1c;
}

.minhashabilidades .card:hover i,
.minhashabilidades .card:hover h5 {
  color: #00ffff;
}

.habilidades .card:hover {
  transform: scale(1.03);
  background: #1c1c1c;
  color: #fff;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {
  color: #000;
}

.card:hover .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {
  color: #00ffff;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating):hover {
  color: #fff;
}

.card .card-content p {
  font-size: 1.2rem;
}

/* BOTÕES EM MINHAS HABILIDADES */
.minhashabilidades .btn-black{
  background-color: black;  
}

/* RODAPÉ */
.rodape{
  background-image: url('../img/bg-rodape.jpg');
  background-size: cover;
  padding: 30px 0;
}

.rodape i{
  color: #00ffff;
}

.social a{
  font-size: 3.2rem;
  padding: 0 20px;
}

/* CUSTOMIZADO */
.row{
  margin-bottom: 0;
}

/* MEDIA */
