html, body{
  height: 100%;
}

.bloco{
  min-height: 100%;
  padding-top: 30px;
}

#particles-js{
  height: 100vh;
  background-image: url(../img/connectwork.png);
}

/* APRESENTAÇÃO */
.apresentacao{
  color: #fff;
  position: absolute;
  text-align: center;
  right: 0;  
  left: 0;
  top: 20%;
}

.apresentacao h3{
  color: #00ffff;
}

.apresentacao h6{
  line-height: 2;
}

.apresentacao a{
  top: 20px;
}

/* EFEITO DIGITAÇÃO */
.digitado::after {
    content: '|';
    opacity: 1;
    margin-left: 5px;
    display: inline-block;
    animation: blink .7s infinite;
  }

  @keyframes blink {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }

/* BOTÃO HOME */
.btn{
  color:  #00ffff;
  background-color:rgba(226,216,216, .2);
}

.btn:hover, .btn-large:hover, .btn-small:hover {
  background-color: grey;
}  

.btn:focus, .btn-large:focus, .btn-small:focus,
.btn-floating:focus {
  background-color: rgba(226,216,216, .2);
}  

/* SOBRE MIM */
.sobremim{
  background: #CEECF5;
}

.sobremim h3{
  color: #1C1C1C;
  margin: 0;
}

.sobremim .foto{
  display: block;
  margin-left: auto;
  margin-right: auto;
  }

/* MEUS PROJETOSPORTFÓLIO */
.meusprojetos{
  background: grey;
} 

.meusprojetos h3{
  color: #fff;
  margin: 0;
  padding-bottom: 30px;
}

.box{
  background: #fff111;
  position: relative;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #00ffff;
}

.box .content{
  position: relative;
  padding: 20px;
}

.box .content h2{
  position: relative;
  
}

.container .row .box:before{
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: - 2px;
  background: #00ffff;  
  transform: skew(2deg,2deg);
  z-index: 1;
}

/* CUSTOMIZADO */
.row{
  margin-bottom: 0;
}

/* MEDIA */
